@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainFrame{
    min-height:100vh;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
        radial-gradient(
            circle at top,
            #09233d,
            #02060d 70%
        );
}

.innerFrame{
    box-shadow: 0px 0px 20px white;
    border-radius: 20px;
    animation: breathe 3s infinite ease-in-out;
}

.LHS{
    border-radius: 20px;
    justify-content: center;
    padding: 40px;
}

.texts{
    margin-bottom: 10px;
}

.txt1{
    font-weight: bold;
}

.input_field{
   display: none;
}

.Input_file_name{
    border: 2px solid cyan;
    box-shadow: 0px 0px 5px cyan;
    padding: 10px;
    color: white;
    border-radius: 10px;
    align-items: center;
    animation: breathe2 3s infinite ease-in-out;
    position: relative;
}

.file_name_text{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.upload_popup{
    position: absolute;
    top: -20px;
    right: 0;
    opacity: 0;
    color: cyan;
    font-size: 12px;
    transition: 0.4s;
}
.Input_file_name:hover .upload_popup{
    opacity: 1;
}

.RHS{
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.icon_frame{
    background-color: cyan;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px white;
    animation: breathe 3s infinite ease-in-out;
    cursor: pointer;
}
.icon_frame:hover{
    background-color: rgb(104, 255, 255);
}

.key_hole{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.key_hole_bottom{
    margin-top: 15px;
}

.btn_wrapper{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 30px;
}
.scan_btn{
    background-color: aqua;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    font-size: medium;
}
.scan_btn:hover{
    background-color: teal;
}
.clear_btn{
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: medium;
}
.clear_btn:hover{
    border: 1px solid grey;
    color: grey;
}

/*animation keyframe for lock_icon and innerFrame*/
@keyframes breathe{
    0%{
        box-shadow: 0px 0px 10px white;
    }
    50%{
        box-shadow: 
        0px 0px 35px cyan;
    }
    100%{
        box-shadow: 0px 0px 10px white;
    }
}

/*animation for input text*/
@keyframes breathe2{
    0%{
        box-shadow: 0px 0px 5px white;
    }
    50%{
        box-shadow: 
        0px 0px 20px cyan;
    }
    100%{
        box-shadow: 0px 0px 5px white;
    }
}

/*------- Above was for mainpage -------*/

/*------- Result page css -------*/

.waiting_bg{
    min-height:100vh;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
        radial-gradient(
            circle at top,
            #09233d,
            #02060d 70%
        );
}

.waiting_frame{
    padding: 10px;
    color: white;
    border-radius: 10px;
    animation: breathe 3s infinite ease-in-out;
}

.result_bg{
    min-height:100vh;
    overflow:hidden;

    display:flex;
    justify-content:center;
    

    background:
        radial-gradient(
            circle at top,
            #09233d,
            #02060d 70%
        );
}

.result-frame{
    padding: 15px;
    animation: breathe 3s infinite ease-in-out;
}

.back_btn{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 2px solid cyan;
    margin-bottom: 15px;
}
.back_btn:hover{
    border: 2px solid darkcyan;
    color: darkcyan;
}

.ai_summary_area{
    border: 3px dashed cyan;
    padding: 5px;
}
.doughnut_chart_area{
    padding: 20px;
}

.txt_report_summary{
    margin-top: 20px;
}

/*------- Result page css ENDS -------*/

/*------- About_user css -------*/

.about_bg{
   background:
        radial-gradient(
            circle at top,
            #09233d,
            #02060d 70%
        );
}

.wrapper{
    animation: breathe 3s infinite ease-in-out;
    border-radius: 20px;
}

.user_frame_top{
    border-radius: 20px;
    justify-content: center;
    padding: 20px;
}

.back_btnx{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 2px solid cyan;
    margin-bottom: 15px;
}
.back_btnx:hover{
    border: 2px solid darkcyan;
    color: darkcyan;
}

.user_frame_main{
    border-radius: 20px;
    justify-content: center;
    padding: 20px;
}

.user_icon{
    border-radius: 50%;
}

.basic_info{
    margin-top: 10px;
}

.history_btn{
    margin-bottom: 10px;
}
.history_btn:hover{
    background:
    linear-gradient(
        90deg,
        #009dff,
        #00ffd5
    );
}
.history_content{
   padding: 5px;
}

.change_pwd_btn{
    padding: 5px;
}
.change_pwd_btn:hover{
    background:
    linear-gradient(
        90deg,
        #009dff,
        #00ffd5
    );
}
.logout_btn{
    padding: 5px;
}
.logout_btn:hover{
    background:
    linear-gradient(
        90deg,
        #009dff,
        #00ffd5
    );
}
.del_acc_btn{
    padding: 5px;
}
.del_acc_btn:hover{
    background:
    radial-gradient(
        circle at top,
        #ff0000,
        #3c0000
    )
}

.history_popup{
    box-shadow: 0px 0px 20px black;
    background: linear-gradient(#000f23,#09233d);
}

.cross_btn{
    padding-left: 10px;
    padding-right: 10px;
}
.cross_btn:hover{
    background-color: darkred;
}

.delete_popup{
    padding:20px;
    box-shadow: 0px 0px 10px black;
    background: linear-gradient(#09233d,#000f23);
}
.yes_btn{
    border: 2px solid;
    border-radius: 10px;
}
.yes_btn:hover{
    background-color: rgb(100, 0, 0);
}
.no_btn{ 
    border: 2px solid;
    border-radius: 10px;
}
.no_btn:hover{
    background-color: rgb(0, 70, 70);
}

/*------- Login page css -------*/

@keyframes gridMove{
    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50px);
    }
}
.login_page_bg{
   min-height:100vh;
   
    position:relative;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
        radial-gradient(
            circle at top,
            #09233d,
            #02060d 70%
        );
}

.login_frame{
    z-index:2;
    background:rgba(8,18,32,.92);
    border:1px solid rgba(0,220,255,.25);
    padding: 10px;
    box-shadow: 0px 5px 20px rgba(0, 191, 255, 0.225);
}
.login_page_bg::before{

    content:"";

    position:absolute;
    inset:0;

    width:200%;
    height:200%;

    background-image:
        linear-gradient(rgba(0,180,255,.15) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,180,255,.15) 1px, transparent 1px);

    background-size:50px 50px;

    animation:gridMove 2s linear infinite;

    opacity:.6;

    z-index:0;
}

.input_email{
    padding: 10px;
    color: white;
}
.input_email:hover{
    box-shadow: 0px 0px 5px cyan;
    transition: 0.3s;
}

.input_pwd{
    padding: 10px;
    color: white;
}
.input_pwd:hover{
    box-shadow: 0px 0px 5px cyan;
    transition: 0.3s;
}

.login_btn{
    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
    background-color: green;
}
.login_btn:hover{
    background-color: darkgreen;
}

.enter_fields{
    padding-bottom: 10px;
}

/*------- Register page css -------*/

.register_page_bg{
    min-height:100vh;
   
    position:relative;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
        radial-gradient(
            circle at top,
            #09233d,
            #02060d 70%
        );
}
.register_page_bg::before{
    
    content:"";

    position:absolute;
    inset:0;

    width:200%;
    height:200%;

    background-image:
        linear-gradient(rgba(0,180,255,.15) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,180,255,.15) 1px, transparent 1px);

    background-size:50px 50px;

    animation:gridMove 2s linear infinite;

    opacity:.6;

    z-index:0;
}

.register_frame{
    padding: 10px;
    box-shadow: 0px 10px 10px black;
    z-index:2;
    background:rgba(8,18,32,.92);
    border:1px solid rgba(0,220,255,.25);
    padding: 10px;
    box-shadow: 0px 5px 20px rgba(0, 191, 255, 0.225);
}

.input_username{
    margin-top: 10px;
    padding: 10px;
    color: white;
}
.input_username:hover{
    box-shadow: 0px 0px 5px cyan;
    transition: 0.3s;
}

.register_btn{
    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
    margin-top: 10px;
    background-color: green;
}
.register_btn:hover{
    background-color: darkgreen;
}